<!-- Custom head -->

<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
        .blinking-cursor {position: relative;}
        .cursor {animation: blink 1s infinite;}
        @keyframes blink {0% {opacity: 1;} 50% {opacity: 0;} 100% {opacity: 1;}}
      </style>
</head>